.mainBody {
    .mainBodyTitle{
      margin: auto
    }
    .myDescription {
      font-style: italic;
      margin: auto;
      font-family: 'ZCOOL KuaiLe', cursive !important
    }

    .container{
      margin-right: 0 !important;  
      margin-left: 0 !important;
      max-width: 100% !important;
    }
}