.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  h1, h2, h3 {
    font-family: 'ZCOOL KuaiLe', cursive !important; 
   }
  
}

.my-container-margin-top {
  margin-top: 8vh
}

.myDarkyBackground {
  background-color: #131313;
  color: white
}