.cardContainer {
margin-top: 1vh;
border-style: solid;
border-width: 1px;
border-color: black;
}

.myCatCard {
  .quantity-count {
    font-size: 20px
  }
  .mySexButton{
    padding-left: 17px !important
  }
}

.mediaPrice{
  margin-top: 3vh !important;
  margin-bottom: 2vh !important
}

.myCounterButton{
  padding-left: 18px !important;
  padding-right: 18px !important 
}

.buy-button{
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin-top: 20px !important
}

.myQty{
  margin-top: 8px !important;
}

