.cardContainer {
margin-top: 1vh;
border-style: solid;
border-width: 1px;
border-color: grey;
}

.myCatCard {
  .quantity-count {
    font-size: 20px
  }
}

.quantity-count {
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.buy-button{
  padding-left: 40px !important;
  padding-right: 40px !important
}
