.getDesktopPeeps {
  position: absolute;
  bottom: 25%;
  color: red;
  font-weight: bold
 }

 .Carourou {
   h3 {
     color: orangered !important;
     font-weight: bolder;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }
   p {
     color: orange !important;
     font-weight: bolder;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
 }